<h1>Optimus Sprint Demo (<%= startDate %> - <%= endDate %> )</h1>

<p>Beste Collega's</p>
<p><%= intro %></p>

Wat is er nieuw?

<ul>

</ul>

Waar werken we volgende 2 weken aan?


Links

Volledig Demo
Mission Board

Wij hopen je te mogen verwelkomen op onze volgende demo.

Stuur deze mail gerust door naar mogelijke geïntereseerden

Vriendelijke groeten,

Jan van Vlimmeren
Product Owner Optimus Squad